#Ignore the KVM_disks directory
KVM_Disks/
group_vars/all/ansible.yml


# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

### Ansible ###
*.retry

# End of https://www.toptal.com/developers/gitignore/api/ansible
